<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Etokisana</title>
        {{> styles }}
    </head>
    <body>
        {{!-- <h1>Bienvenue sur Etokisana !</h1> --}}
        {{{ body }}}
        <p>Cordialement, <br>
        L'équipe d'Etokisana</p>
    </body>
</html>