<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1>Dépôt réussi</h1>
        <p>Bonjour {{name}},</p>
        <p>Votre dépôt de {{montant}}MGA a bien été effectué</p>
        <p>Si vous n'avez pas initié cette opération, veuillez contacter notre support technique à l'adresse contact@commercegestion.com</p>
    </body>
</html>