<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Bonjour {{name}},</p>
        <p>Vous avez fait une demande de réinitialisation de mot de passe.</p>
        <p> Veuillez cliquer sur le lien suivant pour poursuivre la réinitialisation</p>
        <a href="https://{{link}}">Reset Password</a>
    </body>
</html>