<h1>Bienvenue sur notre plateforme !</h1>
<p>Bonjour {{name}},</p>
<p>Vous êtes le bienvenu sur notre plateforme, nous vous prions de procéder à la vérification de votre email s'il vous plaît<br>
<a href={{link}}>Cliquer ici</a> ou appuyer sur le bouton ci-dessous </p><br>
    <a href={{link}}><button>Vérifier mon email</button></a>

<p>Dans l'attente de validation de votre inscription par nos administrateurs, nous vous remercions de votre patience.<br>
Nous vous informerons dès que votre compte sera prêt.
</p>